@font-face {
  font-family: "Roobert";
  src: url("../fonts/RoobertVF.woff2") format("woff2-variations");
  font-weight: 300 900;
  font-style: normal;
}
@font-face {
  font-family: "Roobert";
  src: url("../fonts/RoobertVFItalics.woff2") format("woff2-variations");
  font-weight: 300 900;
  font-style: italic;
}

:root {
  /* Colors */
  --color-primary: #03a5cd;
  --color-secondary: #2afdb8;
  --color-dark: #222735;
  --color-light: white;

  /* Fonts */
  --font-family-display: Roobert;
  --font-family-ui: Roobert, system-ui, sans-serif;
  --font-weight-bold: 550;
  --font-weight-bolder: 650;
}

.block-hero {
  background-image: linear-gradient(to bottom, color-mix(in srgb, var(--color-primary) 30%, var(--color-dark)), var(--color-dark) 80%);
  background-repeat: no-repeat;

  h1 {
    color: var(--color-secondary);
  }
}