@font-face {
  font-family: "Roobert";
  src: url("../fonts/RoobertVF.woff2") format("woff2-variations");
  font-weight: 300 900;
  font-style: normal;
}
@font-face {
  font-family: "Roobert";
  src: url("../fonts/RoobertVFItalics.woff2") format("woff2-variations");
  font-weight: 300 900;
  font-style: italic;
}

:root {
  /* Colors */
  --color-primary: #2bc0f2;
  --color-secondary: #ea3368;
  --color-dark: #0d121f;
  --color-light: white;
  --color-highlight: color-mix(in srgb, var(--color-primary) 10%, transparent);

  /* Fonts */
  --font-family-display: Roobert;
  --font-family-ui: Roobert, system-ui, sans-serif;
  --font-weight-bold: 550;
  --font-weight-bolder: 650;

  --border-radius-button: 8px;
  --neon-effect: drop-shadow(0 0 2px var(--color-primary)) drop-shadow(
    0
    0
    8px
    var(--color-secondary)
  ) drop-shadow(0 0 32px var(--color-primary));
  --neon-effect2: drop-shadow(0 0 4px var(--color-primary)) drop-shadow(
    0
    0
    32px
    var(--color-secondary)
  );
}

body {
  --color-lines: #076259;
  background-color: var(--color-dark);
}
.navbar-flexible {
  background-color: color-mix(in srgb, var(--color-bg) 70%, transparent);
  backdrop-filter: blur(25px);
}
.navbar-menu,
.navbar-menu a:not(:hover) {
  background-color: var(--color-bg);
}
.navbar-logo img {
  filter: brightness(7) sepia(100%) hue-rotate(110deg) var(--neon-effect2);
  transition: filter 200ms;

  &:hover {
    filter: brightness(4) sepia(100%) hue-rotate(110deg) var(--neon-effect);
  }
}
.footer-logo {
  filter: brightness(7) sepia(100%) hue-rotate(110deg) var(--neon-effect2);
}
.block-speakers {
  gap: 40px;
}
.speaker {
  background-color: var(--color-dark);
  color: var(--color-primary);
  border: solid 1px;
  border-left-width: 6px;
  border-bottom-width: 6px;
  border-radius: 0;

  &:hover {
    color: var(--color-secondary);
    box-shadow: -10px 10px 0 currentColor;
  }
}
.modal {
  background-color: var(--color-primary);
}
.speaker-modal-links a {
  border-radius: 0;
  color: white;
  border: solid 1px;
  &:hover {
    color: var(--color-dark);
  }

  svg {
    fill: currentColor;
  }
}

.block-hero {
  background-color: var(--color-dark);
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: center;
  padding-top: 80px;
  background-image: radial-gradient(
    closest-side,
    color-mix(in srgb, var(--color-primary) 20%, transparent),
    var(--color-dark)
  );
}
.block-hero-header h1 {
  display: grid;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: end;

  img {
    grid-area: 1 / 1;
    display: block;
    max-width: 80%;
    width: 1100px;
    height: auto;
    
    &:nth-child(1) {
      animation: glitch1 5s infinite;
    }
    &:nth-child(2) {
      animation: glitch2 2s infinite;
      animation-delay: 1s;
      clip-path: polygon(0 25%, 100% 25%, 100% 70%, 0 70%);
    }
    &:nth-child(3) {
      animation: glitch3 3.5s infinite;
      animation-delay: 2s;
      clip-path: polygon(0 70%, 100% 70%, 100% 100%, 0 100%);
    }
  }
}
#intro {
  padding-top: 40px;
  padding-bottom: 80px;

  img {
    object-fit: contain;
    max-width: min(500px, 50vw);
    height: auto;
    margin: 0 auto;
    animation: recognizer 3s infinite alternate ease-in-out;
    z-index: 2;
    position: relative;
  }
}

@keyframes recognizer {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}

top-vimeo img {
  filter: sepia(100%) hue-rotate(190deg) brightness(50%);
}

.block-vimeo {
  background: none;
  color: white;
  text-align: center;
}
.block-logos-list {
  a {
    filter: brightness(4) sepia(100) hue-rotate(130deg);
    &:hover {
      filter: brightness(7) var(--neon-effect);
    }
  }
}
.button {
  background-color: color-mix(in srgb, black, var(--color-secondary) 15%);
  color: var(--color-secondary);
  border: solid 1px currentColor;

  &:hover {
    color: white;
  }
}

.theme.is-dark {
  background: none;
}
.block-header {
  background: none;
  color: var(--color-light);

  a {
    color: var(--color-primary);
  }

  .markdown-alert {
    background: var(--color-highlight);
    margin-top: 20px;
  }
}
.block-tickets {
  background: none;
  --color-highlight: color-mix(in srgb, var(--color-primary) 10%, transparent);
  --color-border: var(--color-highlight);
}
.block-faq-questions {
  .accordion:hover {
    background-color: var(--color-primary);
    color: var(--color-dark);
  }
  .accordion[open] {
    background-color: var(--color-primary);
    color: var(--color-dark);

    > div {
      padding-right: 32px;
      padding-bottom: 32px;
    }

    a {
      color: inherit;
    }
  }
}

#contacto {
  @media (width > 1050px) {
    background-image: url(/files/3d.png);
    background-repeat: no-repeat;
    background-size: 100px auto;
    background-position: 80px 100px;
  }
}

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, 0deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, 0deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 0deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}